{% extends "generic/regions.njk" %}
{% block main %}
<main class="c-main" role="main">

  <div class="c-section c-section--aqua-forest">
    <div class="o-container c-section__container">

      <h1 class="c-section__item c-title c-title--border">What is ethical investment?</h1>
      <!-- /c-title -->

      <div class="c-section__item s-entry-content">
        <p>Most of us would like to align our investments with our values and get healthy returns at the same time. It’s a win-win. Or a wind-wind, perhaps, if you’re into turbines. But what exactly is ethical investment?</p>
        <p>Ethical investing means the whole process must incorporate analysis on the broader impact of an investment, in addition to pure investment analysis. If it has a positive impact then it can be considered for investment. The opposite also holds: should a prospective investment have a negative impact, it won’t be on the list for consideration.</p>
        <p>The important thing to know is that you can invest with organisations whose values and ethical investment processes align with yours.</p>
        <p>You can choose which shares you hold or managed funds you invest in, and which super fund you are in: super fund <a href="#">Australian Ethical</a> has an ethical charter that guides the way it makes investments. This may, or may not, be just your ethical cup of tea.</p>
      </div>
      <!-- /s-entry-content -->

    </div>
  </div>
  <!-- /c-section -->

  <div class="c-section c-section--alabaster">
    <div class="o-container"></div>
  </div>
  <!-- /c-section -->

  <div class="c-section c-section--mercury">
    <div class="o-container c-section__container">

      <h2 class="c-section__item c-title c-title--border">OK, so I’m in favour of renewables. How do I know they’re going to be a good investment?</h2>
      <!-- /c-title -->

      <div class="c-section__item s-entry-content">
        <p>You don’t. No one knows with a high degree of certainty. However, there’s plenty of evidence that renewables are on the rise and fossil fuels are on the decline. For example:</p>
      </div>
      <!-- /s-entry-content -->

      <div class="c-section__item c-listicle">
        <ol class="c-listicle__list">
          <li class="c-listicle__item">
            <svg class="c-listicle__icon" viewBox="0 0 128 128" width="128" height="128" role="presentation">
              <circle cx="64" cy="64" r="64" fill="#fff">
            </svg>
            The Paris Agreement is a sign that governments are serious about a low-carbon world economy.
          </li>
          <li class="c-listicle__item">
            <svg class="c-listicle__icon" viewBox="0 0 128 128" width="128" height="128" role="presentation">
              <circle cx="64" cy="64" r="64" fill="#fff">
            </svg>
            Organisations are divesting, pulling their investments out of fossil fuels.
          </li>
          <li class="c-listicle__item">
            <svg class="c-listicle__icon" viewBox="0 0 128 128" width="128" height="128" role="presentation">
              <circle cx="64" cy="64" r="64" fill="#fff">
            </svg>
            World petrol demand has been forecast to peak by 2030, thanks to more efficient engines and the rise of the electric car.
          </li>
          <li class="c-listicle__item">
            <svg class="c-listicle__icon" viewBox="0 0 128 128" width="128" height="128" role="presentation">
              <circle cx="64" cy="64" r="64" fill="#fff">
            </svg>
            To join universities, government and pension funds, more than 40 organisations associated with the Catholic Church recently announced that they are divesting from fossil fuel companies – amounting to a total divestment of $5.5 trillion.
          </li>
          <li class="c-listicle__item">
            <svg class="c-listicle__icon" viewBox="0 0 128 128" width="128" height="128" role="presentation">
              <circle cx="64" cy="64" r="64" fill="#fff">
            </svg>
            Concerns about renewable energy being expensive and unable to supply baseload power are no longer valid with the impending developments in energy storage manufacturing.
          </li>
          <li class="c-listicle__item">
            <svg class="c-listicle__icon" viewBox="0 0 128 128" width="128" height="128" role="presentation">
              <circle cx="64" cy="64" r="64" fill="#fff">
            </svg>
            Oil companies see the writing on the wall. They are investing in renewables.
          </li>
          <li class="c-listicle__item">
            <svg class="c-listicle__icon" viewBox="0 0 128 128" width="128" height="128" role="presentation">
              <circle cx="64" cy="64" r="64" fill="#fff">
            </svg>
            China has announced it wants to develop an ‘ecological civilisation’, and many people believe this is more than just talk. China is responsible for 40% of renewable capacity growth.
          </li>
          <li class="c-listicle__item">
            <svg class="c-listicle__icon" viewBox="0 0 128 128" width="128" height="128" role="presentation">
              <circle cx="64" cy="64" r="64" fill="#fff">
            </svg>
            Last year, in net additions, 164 gigawatts of renewable energy came on line around the world, compared with 57 gigawatts of coal.
          </li>
        </ol>
      </div>
      <!-- /c-listicle -->

      <div class="c-section__item s-entry-content">
        <p>We could go on. This is not to say that investing in renewables will definitely make you money. Or that coal is dead in the water. But fossil fuel reserves are increasingly looking like they may become stranded assets, which could be bad news for anyone with shares in fossil fuel companies.</p>
      </div>
      <!-- /s-entry-content -->

    </div>
  </div>
  <!-- /c-section -->

  <div class="c-section c-section--alabaster">
    <div class="o-container">

      <h2 class="c-section__item c-title c-title--border">Nothing is guaranteed</h2>
      <!-- /c-title -->

      <div class="c-section__item s-entry-content">
        <p>Just because renewables have a promising future, this doesn’t automatically make them a good investment, so investors should be wary about putting all their free-range eggs in one basket.</p>
      </div>
      <!-- /s-entry-content -->

      <blockquote class="c-section__item c-quote">
        <p class="c-quote__content">It’s important to consider an investment in renewables within the context of the broader portfolio. Just because it may be good for the planet doesn’t necessarily mean it will generate good stable returns forever. In fact, from our own experience, equity investments in renewables tend to be more volatile than the broader equity market due in large part to the industry being subject to government policies.</p>
        <footer class="c-quote__meta">
          <img class="c-quote__image" src="https://placehold.it/180" alt="">
          <cite class="c-quote__author">David Macri, chief investment officer at Australian Ethical</cite>
        </footer>
      </blockquote>
      <!-- /c-quote -->

    </div>
  </div>
  <!-- /c-section -->

  <div class="c-section c-section--mercury">
    <div class="o-container c-section__container">

      <h2 class="c-section__item c-title c-title--border">OK, I get the warnings. But what’s the bottom line? How well does ethical investment perform?</h2>
      <!-- /c-title -->

      <div class="c-section__item s-entry-content">
        <p>Mainstream investors are increasingly seeing the financial benefit of ethical investment. In many situations, ethical investing aligns with financially prudent investing.</p>
        <p>For example, as the world transitions to a low-carbon economy, it may not make good financial or ethical sense to invest in industries that are high greenhouse gas emitters (such as the fossil fuel industry).</p>
        <p>That’s one reason why ‘responsible investing’ – which screens for environmental, social and governance and/or ethical factors – has more than quadrupled over the past three years, and a staggering 44% of Australian assets under management now use some form of responsible investment strategy.</p>
      </div>
      <!-- /s-entry-content -->

    </div>
  </div>
  <!-- /c-section -->

  <div class="c-section c-section--sea-mist">
    <div class="o-container">

      <h2 class="c-section__item c-title c-title--border">How have these responsible investments performed?</h2>
      <!-- /c-title -->

      <div class="c-chart">
        <table class="c-chart__table">
          <tr class="c-chart__row">
            <th class="c-chart__cell c-chart__cell--header" scope="row">Over 1 year</th>
            <td class="c-chart__cell c-chart__cell--data">
              <div class="c-chart__bar c-chart__bar--eucalyptus" style="width: 53.846%;">7.0%</div>
              <div class="c-chart__bar c-chart__bar--white" style="width: 67.692%;">8.8%</div>
            </td>
          </tr>
          <tr class="c-chart__row">
            <th class="c-chart__cell c-chart__cell--header" scope="row">Over 3 years</th>
            <td class="c-chart__cell c-chart__cell--data">
              <div class="c-chart__bar c-chart__bar--eucalyptus" style="width: 53.846%;">7.0%</div>
              <div class="c-chart__bar c-chart__bar--white" style="width: 41.538%;">5.4%</div>
            </td>
          </tr>
          <tr class="c-chart__row">
            <th class="c-chart__cell c-chart__cell--header" scope="row">Over 5 years</th>
            <td class="c-chart__cell c-chart__cell--data">
              <div class="c-chart__bar c-chart__bar--eucalyptus" style="width: 100%;">13.0%</div>
              <div class="c-chart__bar c-chart__bar--white" style="width: 83.077%;">10.8%</div>
            </td>
          </tr>
          <tr class="c-chart__row">
            <th class="c-chart__cell c-chart__cell--header" scope="row">Over 10 years</th>
            <td class="c-chart__cell c-chart__cell--data">
              <div class="c-chart__bar c-chart__bar--eucalyptus" style="width: 48.462%;">6.3%</div>
              <div class="c-chart__bar c-chart__bar--white" style="width: 29.231%;">3.8%</div>
            </td>
          </tr>
        </table>
      </div>
      <!-- /c-chart -->

    </div>
  </div>
  <!-- /c-section -->

  <div class="c-section c-section--mercury">
    <div class="o-container c-section__container">

      <h3 class="c-section__item c-title">In other words, it can pay to be ethical</h3>
      <!-- /c-title -->

      <div class="c-section__item s-entry-content">
        <p>For more information on investing in renewables can be a win-win for both your personal values and your long term savings.</p>
      </div>
      <!-- /s-entry-content -->

      <div class="c-section__item c-cta">
        <a class="c-button" href="#">Join now</a>
      </div>
      <!-- /c-cta -->

    </div>
  </div>
  <!-- /c-section -->

</main>
<!-- /c-main -->
{% endblock %}
