.c-chart {}


// Table -------------------------------

.c-chart-table {
  background-image: svg-encode('<svg viewBox="0 0 3 3"><circle cx=".5" cy=".5" r=".5" fill="#{$dusty-gray}"/></svg>');
  background-size: 6px 6px;
  width: 100%;
}

.c-chart-table__row {}

.c-chart-table__heading {
  @include fluid-type(padding-right, 18.75em, 63em, 0.5em, 1em);
  background-color: $sea-mist;
  font-weight: 600;
  line-height: 1.25;
  text-align: right;

  @media (min-width: 48em) {
    white-space: nowrap;
  }
}

.c-chart-table__data {
  @include fluid-type(padding, 18.75em, 63em, 0.5em, 1em);
  width: 100%;
}

.c-chart-table__bar {
  direction: rtl;
  font-weight: 600;
  overflow: hidden;
  padding: 0.25em 1em;
  text-align: right;

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

.c-chart-table__bar--eucalyptus {
  background-color: $eucalyptus;
  color: $white;
}

.c-chart-table__bar--white {
  background-color: $white;
}


// Legend ------------------------------

.c-chart-legend {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2em;

  @media (min-width: 48em) {
    flex-direction: row;
    justify-content: center;
  }
}

.c-chart-legend__item {
  display: flex;
  font-size: 0.875em;
  font-weight: 600;

  &:not(:last-child) {
    margin-bottom: 1em;

    @media (min-width: 48em) {
      margin: 0 2em 0 0;
    }
  }

  &::before {
    border-radius: 0.25em;
    content: "";
    flex: none;
    margin-right: 0.5em;
    width: 1.5em;
  }
}

.c-chart-legend__item--eucalyptus::before {
  background-color: $eucalyptus;
}

.c-chart-legend__item--white::before {
  background-color: $white;
}


// Animations --------------------------

@keyframes chart {
  0% {
    width: 0;
  }
}

.is-viewport .c-chart-table__bar {
  animation: 1.5s ease 1 forwards chart;
}
