.c-footnotes {
  font-size: 0.875em;
}

.c-footnotes__item {
  padding-left: 1.75rem;
}

.c-footnotes__reference {
  display: inline-block;
  margin-left: -1.75rem;
  white-space: nowrap;
  width: calc(1.75rem - 0.25em);
}
