.c-header {
  @include fluid-type(padding-bottom padding-top, 18.75em, 63em, 2em, 4em);
  background-color: rgba($black, 0.65);
  background-image: url(../images/wind-farm.jpg);
  background-position: 50% 50%;
  background-size: cover;
  color: $white;
}
