// Bar chart ---------------------------

@keyframes bar-chart {
  100% {
    transform: translatex(0);
  }
}

.c-illustration-bar-chart {
  .js & g g {
    transform: translatex(-100%);
  }

  &.is-viewport g g {
    animation: 1s ease 1 forwards bar-chart;
  }
}


// Pie chart ---------------------------

@keyframes pie-chart {
  100% {
    transform: scale(1);
  }
}

.c-illustration-pie-chart {
  .js & path {
    transform-origin: 50% 50%;
    transform: scale(0);

    &:nth-child(2) {
      animation-delay: 0.25s;
    }
  }

  &.is-viewport path {
    animation: 0.5s ease 1 forwards pie-chart;
  }
}


// Solar panels ------------------------

@keyframes solar-panels {
  100% {
    transform: scale(1);
  }
}

.c-illustration-solar-panels {
  .js & path {
    transform-origin: 50% 100%;
    transform: scale(0);

    &:nth-child(2) {
      animation-delay: 0.25s;
    }

    &:nth-child(3) {
      animation-delay: 0.5s;
    }
  }

  &.is-viewport path {
    animation: 0.75s ease 1 forwards solar-panels;
  }
}


// Graph chart -------------------------

@keyframes graph-chart {
  100% {
    stroke-dashoffset: 0;
  }
}

.c-illustration-graph-chart {
  .js & path {
    &:nth-child(2) {
      stroke-dasharray: 305.03631591796875;
      stroke-dashoffset: 305.03631591796875;
    }

    &:nth-child(3) {
      stroke-dasharray: 255.6715087890625;
      stroke-dashoffset: 255.6715087890625;
    }
  }

  &.is-viewport path {
    animation: 1.5s ease 1 forwards graph-chart;
  }
}
