.c-listicle {}

.c-listicle__list {
  counter-reset: listicle;
  margin: -2em 0 0 -2em;

  @media (min-width: 48em) {
    display: flex;
    flex-wrap: wrap;
  }
}

.c-listicle__item {
  align-items: center;
  counter-increment: listicle;
  display: flex;
  flex-direction: column;
  padding: 2em 0 0 2em;
  position: relative;
  text-align: center;

  @media (min-width: 37.5em) and (max-width: 47.9375em), (min-width: 64em) {
    flex-direction: row;
    text-align: left;
  }

  @media (min-width: 48em) {
    flex-basis: 50%;
  }

  &::before {
    background-color: $eucalyptus;
    border-radius: 50%;
    color: $white;
    content: counter(listicle);
    font-size: 1.25em;
    font-weight: 600;
    position: absolute;
    text-align: center;
    transform: translatex(-3.0625rem);
    width: 1.5em;

    @media (min-width: 37.5em) and (max-width: 47.9375em), (min-width: 64em) {
      transform: translate(0, -3.0625rem);
    }
  }
}

.c-listicle__icon {
  background-color: $white;
  border-radius: 50%;
  height: auto;
  margin-bottom: 1em;
  width: 8em;

  @media (min-width: 37.5em) and (max-width: 47.9375em), (min-width: 64em) {
    flex: none;
    margin: 0 1em 0 0;
  }
}

.c-listicle__label {
  font-size: 0.875em;
}


// Animations --------------------------

@keyframes listicle {
  100% {
    opacity: 1;
    transform: translatey(0);
    visibility: visible;
  }
}

.js-on & .c-listicle__item {
  opacity: 0;
  transform: translatey(-2em);
  visibility: hidden;

  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 0.2s;
    }
  }
}

.is-viewport .c-listicle__item {
  animation: 0.5s ease 1 forwards listicle;
}
