// Colors
$eucalyptus:  #1f8649;
$aqua-forest: #61a473;
$sea-mist:    #cbe0cd;
$web-orange:  #f7a800;

// Grays
$black:       #000000;
$tundora:     #4a4a4a;
$dusty-gray:  #979797;
$alto:        #d8d8d8;
$mercury:     #e9e9e9;
$alabaster:   #f9f9f9;
$white:       #ffffff;
