<footer class="c-section c-section--alto" role="contentinfo">
  <div class="o-container">

    <ol class="c-footnotes u-vertical-space">
      <li class="c-footnotes__item">
        <sup class="c-footnotes__reference">1, 5, 6</sup>
        Source:
        <a href="https://responsibleinvestment.org/resources/benchmark-report/australia/2017-report/">Responsible Investment Benchmark Report Australia 2017</a>
      </li>
      <li class="c-footnotes__item">
        <sup class="c-footnotes__reference">2, 3, 4</sup>
        Source:
        <a href="https://www.iea.org/renewables/">International Energy Agency</a>
      </li>
    </ol>
    <!-- /c-footnotes -->

  </div>
</footer>
<!-- /c-section -->
