<footer class="c-section c-section--alto" role="contentinfo">
  <div class="o-container">

    <ol class="c-footnotes u-vertical-space">
      <li class="c-footnotes__item">
        <sup class="c-footnotes__reference">1, 5</sup>
        <a href="#">Responsible Investment Benchmark Report Australia 2017</a>
      </li>
      <li class="c-footnotes__item">
        <sup class="c-footnotes__reference">2, 3, 4</sup>
        <a href="#">International Energy Agency</a>
      </li>
    </ol>
    <!-- /c-footnotes -->

  </div>
</footer>
<!-- /c-section -->
