<header class="c-header" role="banner">
  <div class="o-container">

    <div class="s-entry-content s-entry-content--large u-vertical-space">
      <p>While the future is impossible to predict (otherwise we’d all be sharemarket billionaires), it’s probably safe to say there’s a shift taking place in how humankind sources its energy.</p>
      <p>Few people would disagree that renewables such as solar, wind and hydro are going to play a big role in our future. Last year was a record year for renewable energy, with almost <a href="https://www.iea.org/renewables/" target="_top">two-thirds of net new power</a> around the world coming from renewables.</p>
      <p>Whereas fossil fuels, if they’re not yet dying, are at least showing signs of being <a href="https://www.theguardian.com/environment/2017/aug/24/coal-in-decline-an-energy-industry-on-life-support" target="_top">seriously ill</a>.</p>
      <p>This shift is important for the planet. And may be important for investors too.</p>
    </div>
    <!-- /s-entry-content -->

    <div class="c-anchor u-vertical-space">
      <a class="c-anchor__link" href="#main" title="Scroll to content">
        <svg class="c-anchor__icon" viewBox="0 0 24 24" width="40" height="40" focusable="false" role="img" aria-label="Scroll to content">
          <path d="M12 16a1 1 0 0 1-.55-.17l-9-6a.99.99 0 0 1-.28-1.38 1 1 0 0 1 1.39-.28L12 13.8l8.45-5.63a1 1 0 1 1 1.11 1.67l-9 6c-.17.1-.37.16-.56.16z"/>
        </svg>
      </a>
    </div>
    <!-- /c-anchor -->

  </div>
</header>
<!-- /c-header -->
