<header class="c-section" role="banner">
  <div class="o-container">
    <div class="s-entry-content">
      <p>While the future is impossible to predict (otherwise we’d all be sharemarket billionaires), it’s probably safe to say there’s a shift taking place in how humankind sources its energy.</p>
      <p>Few people would disagree that renewables such as solar, wind and hydro are going to play a big role in our future. Last year was a record year for renewable energy, with almost <a href="#">two-thirds of net new power</a> around the world coming from renewables.</p>
      <p>Whereas fossil fuels, if they’re not yet dying, are at least showing signs of being <a href="#">seriously ill</a>.</p>
      <p>This shift is important for the planet. And may be important for investors too.</p>
    </div>
  </div>
</header>
<!-- /c-section -->
