.s-entry-content {
  text-align: center;
}


// Margins -----------------------------

.s-entry-content {
  p {
    margin-bottom: 1.5em;
    margin-top: 1.5em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
